* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



div:nth-of-type(1) {
    background-color: brown;
    width: 100px;
    height: 100px;
    margin: 10px;
    transition:all 2s linear;
    position: absolute;
    left: 0;

}

div:nth-of-type(2) {
    background-color:goldenrod;
    width: 100px;
    height: 100px;
    margin: 10px;
    transition:all 1s linear 1s;
    position: absolute;
    top: 120px;
    left: 0;

}

section {
    position: relative;
    height: 230px;
    background-color: grey;
}

section:hover div {
    left: 90%;

}



